<nav class="navbar gray">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">タイトル: <%= @plan.title %></p></span>
  </div>
</nav>
<table class="table table-dark table-striped">
  <tr>
    <th>開始日</th>
    <td><%= @plan.start_date %></td>
  <tr>

  <tr>
    <th>終了日</th>
    <td><%= @plan.end_date %></td>
  </tr>

  <tr>
    <th>終日</th>
    <td><%= @plan.checkbox ? '○' : ' ' %></td>
  </tr>

  <tr>
    <th>スケジュールメモ</th>
    <td><%= @plan.memo %>
  </tr>
</table>
<div>
  <%= link_to "編集する", edit_plan_path(@plan), class: 'btn btn-outline-primary', data: {"turbolinks" => false} %>
  <%= link_to "戻る", plans_path,  class: 'btn btn-outline-secondary' %>
</div>
